<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1038663350739-tb0pmk64girkvp0cppehc7jtcgp9rkfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038663350739-tb0pmk64girkvp0cppehc7jtcgp9rkfe</string>
	<key>API_KEY</key>
	<string>AIzaSyB7J0M_3yDF6kRERHmzyfG2_HzFy-Gwdpo</string>
	<key>GCM_SENDER_ID</key>
	<string>1038663350739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.vsukiasyan.Mesh</string>
	<key>PROJECT_ID</key>
	<string>mesh-dev-bded8</string>
	<key>STORAGE_BUCKET</key>
	<string>mesh-dev-bded8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038663350739:ios:15fd60938fa8773a</string>
	<key>DATABASE_URL</key>
	<string>https://mesh-dev-bded8.firebaseio.com</string>
</dict>
</plist>